
@model IEnumerable<MyProject.Models.AspNetUsers>
@{
	//ViewData["Title"] = "Список пользователей";
	Layout = null;
}
<!DOCTYPE html>

<html>
<head>
	<title>Список пользователей</title>
</head>
<body>
	<h3>Пользователи</h3>
	<table>
		<tr>
			<td>Имя</td>
			<td>Производитель</td>
			<td>Цена</td>
			<td></td>
		</tr>
		@foreach (var aspNetUsers in Model)
		{
			<tr>
				<td>@aspNetUsers.Name</td>
				<td>@aspNetUsers.Email</td>
				<td><a href="~/Home/User/@aspNetUsers.Id">Страница пользователя</a></td>
			</tr>
		}
	</table>
</body>
</html>

