
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>
<ul>

	<li>@User.Identity.Name</li>
	@foreach (var user in Model)
	{
		if (@User.Identity.Name == @user.UserName)
		{
			<li>@user.Email</li>
		}
	}
</ul>